{
  "columns": [
    {
      "id": 1,
      "name": "recordNumber",
      "length": 15,
      "type": "direct",
      "padding": "e",
      "columnName": "id",
      "reversedPadding": "True",
      "comparison": {
        "iscompositekey": true,
        "excludeFromComparison": false,
        "isReportable": "true"
      }
    },
    {
      "id": 2,
      "name": "accountSourceCode",
      "length": 3,
      "type": "hardCode",
      "padding": "FAS",
      "columnName": "accountSourceCode",
      "comparison": {
        "iscompositekey": false,
        "excludeFromComparison": true,
        "isReportable": "true"
      }
    },
    {
      "id": 3,
      "name": "accountingControlNumber",
      "length": 12,
      "type": "hardCode",
      "columnName": "accountingControlNumber",
      "comparison": {
        "iscompositekey": false,
        "excludeFromComparison": false,
        "isReportable": true
      }
    }
  ],
  "report": {
    "columns": [
      { "name": "RecordKey", "source": "RecordKey" },
      { "name": "ExistingFileRecordNum", "source": "ExistingFileRecordNum" },
      { "name": "NewFileRecordNum", "source": "NewFileRecordNum" },
      { "name": "ColumnName", "source": "ColumnName" },
      { "name": "ExistingValue", "source": "ExistingValue" },
      { "name": "NewValue", "source": "NewValue" },
      { "name": "ErrorType", "source": "ErrorType" }
    ]
  }
}
